@font-face { font-family: 'Nouvellepolice-Regular.otf';
            src: url('../fonts/Nouvellepolice-Regular.otf') format('otf');
            font-family: 'ArialNarrowMTStd.otf';
            src: url('../fonts/Arial_Narrow/ArialNarrowMTStd.otf') format('otf');
            }

/*@font-face { font-family: 'ArialNarrowMTStd.otf';
            src: url('../fonts/Arial_Narrow/ArialNarrowMTStd.otf') format('otf')
            }
            }*/


*{
  margin: 0;
}

body{
  margin: 0;
  padding:0;

}

#container{
  width: 20vw;
  position: absolute;
  margin-top: 5vh;
  margin-left: 5vh,
  pointer-events:none;

}

.image1{
  width: 100%;
  position: absolute;
  margin-left: 5vh;
  opacity: 0;
  z-index: -1;
}

.image2{
  width: 100%;
  position: absolute;
  margin-left: 5vh;
  opacity: 0;
  z-index: 1;
}


/*.container {
    margin-top: 3vh;
    margin-left: 3vh;
    display: inline-block;
    cursor: pointer;
}*/

/*::selection {
    color: transparent; 
    background: transparent;
}*/


/*Menu bars*/
/*.bar1, .bar2, .bar3 {
    margin-left: 1vw;
    margin-top: 1vh;
    width: 4vh;
    height: 0.4vh;
    background-color: #000;
    transition: 0.6s;
    z-index: 2;
}*/


/*h1{
  text-align: center;
  font-family: "";
  font-size: 14vw;
  font-weight: lighter;
  background: -webkit-radial-gradient(#eee, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 26vh;
  z-index: 0;

}*/


h1{
  display: block;
  width: 20vw;
  text-align: justify;
  font-family: "Nouvellepolice-Regular";
  font-weight: normal;
  font-size: 4em;
  /*font-weight: lighter;*/
  background: -webkit-radial-gradient(#eee, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  margin-top: 5vh;
  margin-left: 5vh;
  z-index: 0;
  letter-spacing: 0.68em;

}

h2{
  display: block;
  width: 20vw;
  text-align: justify;
  text-justify: auto;
  margin-top: 2vh;
  /*padding: 0vh 4vh;*/
  margin-left: 5vh;
  /*margin-right: 80vh;*/
  font-size: 1em;
  font-family: "ArialNarrowMTStd.otf";
  letter-spacing: 0.2em
  /*font-weight: normal;*/
  line-height: 1.4em;
}

h3{
  display: block;
  width: 20vw;
  text-align: justify;
  margin-top: 3vh;
  margin-left: 5vh;
  /*margin-right: 80vh;*/
  font-size: 2em;
  font-family: "Work Sans";
  font-weight: bolder;
  line-height: 1.4em;
  letter-spacing: 0.2em;

}

h4{
  display: block;
  width: 20vw;
  text-align: justify;
  margin-left: 5vh;
  /*margin-right: 80vh;*/
  margin-top: 3vh;
  font-size: 2em;
  line-height: 1.4em;
  font-family: "Work Sans";
  font-weight: bolder;
  letter-spacing: 0.2em;

}

a:link, a:visited {
    color: black;
    text-decoration: none;
    transition: 1s;
}

a:hover, a:active {
    color: white;
    text-decoration: none;
    /*transition: 0.6s;*/
}}

